<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.balanceteampie"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.balanceteampie.LoginActivity"
            android:label="@string/title_activity_login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.balanceteampie.RegisterActivity"
            android:label="@string/title_activity_register"
            android:parentActivityName="com.example.balanceteampie.LoginActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.balanceteampie.LoginActivity" />                
        </activity>
        <activity
            android:name="com.example.balanceteampie.ProjectActivity"
            android:label="@string/title_activity_project"
            android:parentActivityName="com.example.balanceteampie.MainMenu" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.balanceteampie.MainMenu" />
        </activity>
        <activity
            android:name="com.example.balanceteampie.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.balanceteampie.MainMenu"
            android:label="@string/title_activity_main_menu" >
        </activity>
        <activity
            android:name="com.example.balanceteampie.MenuActivity"
            android:label="@string/title_activity_menu" >
        </activity>
        <activity
            android:name="com.example.balanceteampie.Manager"
            android:label="@string/title_activity_manager" >
        </activity>
        <activity
            android:name="com.example.balanceteampie.CreateActivity"
            android:label="@string/title_activity_create"
            android:parentActivityName="com.example.balanceteampie.MainMenu" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.balanceteampie.MainMenu" />
        </activity>
        <activity
            android:name="com.example.balanceteampie.JoinActivity"
            android:label="@string/title_activity_join"
            android:parentActivityName="com.example.balanceteampie.MainMenu" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.balanceteampie.MainMenu" />
        </activity>
    </application>

</manifest>
